## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [25]:
import os
import numpy as np
import pandas as pd

In [26]:
# 設定 data_path
dir_data = './data/'

In [27]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [28]:
(row, col) = app_train.shape
print('The dataframe has %d rows and %d columns' %(row, col))

The dataframe has 307511 rows and 122 columns

#### 列出所有欄位

In [29]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [30]:
app_train[6:12][['TARGET', 'CODE_GENDER']]

    TARGET CODE_GENDER
6        0           F
7        0           M
8        0           F
9        0           M
10       0           F
11       0           F

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [31]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [32]:
app_train.drop([1,3,4], axis=0, inplace=True)

In [33]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
app_train.reset_index(inplace=True)
app_train.drop('index', axis=1, inplace=True)
app_train

,level_0,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
3,3,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
4,4,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
6,6,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,7,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
8,8,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
9,9,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
10,10,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
11,11,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
12,12,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
13,13,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
14,14,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,15,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
16,16,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
17,17,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,18,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
19,19,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
20,20,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
21,21,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
22,22,100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
23,23,100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
24,24,100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25,25,100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
26,26,100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
27,27,100035,0,Cash loans,F,N,Y,0,292500.000,665892.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
28,28,100036,0,Cash loans,F,N,Y,0,112500.000,512064.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,5.0
29,29,100037,0,Cash loans,F,N,N,0,90000.000,199008.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307478,307478,456225,1,Cash loans,M,N,Y,0,225000.000,297000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307479,307479,456226,0,Cash loans,F,Y,Y,0,225000.000,500566.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307480,307480,456227,0,Cash loans,F,N,Y,0,99000.000,247275.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307481,307481,456228,0,Cash loans,F,Y,N,0,540000.000,545040.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307482,307482,456229,0,Revolving loans,F,N,Y,1,270000.000,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307483,307483,456230,0,Cash loans,F,Y,Y,1,292500.000,355536.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307484,307484,456231,0,Cash loans,M,N,Y,0,117000.000,1071909.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,8.0
307485,307485,456232,0,Cash loans,F,N,N,0,157500.000,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307486,307486,456233,1,Cash loans,F,N,Y,0,225000.000,521280.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307487,307487,456234,0,Cash loans,M,N,Y,0,81000.000,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307488,307488,456235,0,Cash loans,M,Y,Y,2,90000.000,1078200.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307489,307489,456236,0,Cash loans,M,Y,Y,0,585000.000,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307490,307490,456237,0,Cash loans,F,N,Y,0,135000.000,946764.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,7.0
307491,307491,456238,0,Cash loans,M,Y,N,1,270000.000,479700.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
307492,307492,456239,0,Cash loans,M,Y,N,0,180000.000,808650.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307493,307493,456240,0,Revolving loans,F,N,N,0,360000.000,337500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307494,307494,456241,0,Cash loans,F,Y,Y,0,180000.000,270126.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307495,307495,456242,0,Cash loans,M,Y,Y,0,198000.000,1312110.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307496,307496,456243,0,Cash loans,F,N,Y,0,81000.000,225000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0
307497,307497,456244,0,Cash loans,F,N,Y,0,261000.000,1303812.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307498,307498,456245,0,Cash loans,F,N,Y,3,81000.000,269550.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307499,307499,456246,0,Cash loans,F,N,Y,1,94500.000,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307500,307500,456247,0,Cash loans,F,N,Y,0,112500.000,345510.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307501,307501,456248,0,Cash loans,F,N,Y,0,153000.000,331920.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307502,307502,456249,0,Cash loans,F,N,Y,0,112500.000,225000.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
307503,307503,456251,0,Cash loans,M,N,N,0,157500.000,254700.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307504,307504,456252,0,Cash loans,F,N,Y,0,72000.000,269550.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307505,307505,456253,0,Cash loans,F,N,Y,0,153000.000,677664.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307506,307506,456254,1,Cash loans,F,N,Y,0,171000.000,370107.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307507,307507,456255,0,Cash loans,F,N,N,0,157500.000,675000.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0